//! **************************************************************************
// Written by: Map P.20131013 on Sat Oct 31 19:58:50 2015
//! **************************************************************************

SCHEMATIC START;
COMP "led17_b" LOCATE = SITE "G14" LEVEL 1;
COMP "led17_g" LOCATE = SITE "R11" LEVEL 1;
COMP "led17_r" LOCATE = SITE "N16" LEVEL 1;
COMP "SWITCHES<4>" LOCATE = SITE "R17" LEVEL 1;
COMP "SWITCHES<5>" LOCATE = SITE "T18" LEVEL 1;
COMP "SWITCHES<10>" LOCATE = SITE "R16" LEVEL 1;
COMP "SWITCHES<6>" LOCATE = SITE "U18" LEVEL 1;
COMP "SWITCHES<11>" LOCATE = SITE "T13" LEVEL 1;
COMP "SWITCHES<7>" LOCATE = SITE "R13" LEVEL 1;
COMP "SWITCHES<12>" LOCATE = SITE "H6" LEVEL 1;
COMP "SWITCHES<8>" LOCATE = SITE "T8" LEVEL 1;
COMP "SWITCHES<13>" LOCATE = SITE "U12" LEVEL 1;
COMP "CLK" LOCATE = SITE "E3" LEVEL 1;
COMP "SWITCHES<9>" LOCATE = SITE "U8" LEVEL 1;
COMP "SWITCHES<14>" LOCATE = SITE "U11" LEVEL 1;
COMP "SWITCHES<15>" LOCATE = SITE "V10" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "PWM2/DFF/Q" BEL "PWM1/DFF/Q" BEL "PWM0/DFF/Q" BEL
        "PWM2/count/count_1" BEL "PWM2/count/count_2" BEL "PWM2/count/count_3"
        BEL "PWM2/count/count_4" BEL "PWM2/count/count_5" BEL
        "PWM2/count/count_6" BEL "PWM2/count/count_7" BEL "PWM2/count/count_0"
        BEL "CLK_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

